/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.logo{
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}
	nav{
		padding-top:35px;
	}

	.busca{
		min-height: 400px;
		button{
			margin-top:20px;
		}
	}

	.adesao{
		text-align:left;
		&:after{
			background-position: top center !important;
			background-size: cover !important;
		}
	}

	footer{
		ul{
			padding-left: 0 !important;
		}
	}
}